.custom-logo {
    width: 80px;
    height: auto;
    object-fit: contain;
}

html, body {
  height: 100%;       /* que ocupen todo el alto */
  margin: 0;          /* eliminamos márgenes por defecto */
}

body {
  display: flex;
  flex-direction: column; /* body como contenedor flex */
}

main {
  flex: 1; /* el contenido empuja el footer hacia abajo */
}

footer {
  margin-top: auto; /* el footer se queda pegado abajo */
}
